name: build java_dragonwell
on:
  workflow_dispatch:
  schedule:
    - cron: "0 17 1,15 * *" # bi-weekly on 1st and 15th calendar day at 17:00
  push:
    branches:
      - main
    paths:
      - java-dragonwell/**

permissions:
  actions: read
  packages: write

concurrency:
  group: java-dragonwell-${{ github.ref }}-1
  cancel-in-progress: true

jobs:
  build_and_push:
    name: "java_${{ matrix.tag }}_dragonwell"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tag:
          - 8
          - 11
          - 17
          - 21
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Dragonwell 21
        uses: docker/build-push-action@v6
        with:
          context: ./java-dragonwell/21
          file: ./java-dragonwell/21/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          provenance: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/pterodactyl-images:java_21_dragonwell
          cache-from: type=gha
          cache-to: type=gha,mode=max
